:host {
  display: flex;
  flex-direction: row;
  flex: 1;

  .router-container {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.8;
    z-index: 0;
  }
}

sl-button::part(base) {
  border-radius: 0;
}
