<router-outlet></router-outlet>

<!-- Global Game UI -->
<velorum-game-spinner></velorum-game-spinner> <!-- TODO: ngIf these components away after they are used -->
<velorum-game-loading></velorum-game-loading>

<velorum-game-headline></velorum-game-headline>

<velorum-game-stats></velorum-game-stats>
<velorum-game-version></velorum-game-version>

<!-- Skybox images loading hack -->
<img class="skybox dramatic-bloom" width="4096px" height="4096px" id="dramatic-bloom-px" src="assets/skyboxes/dramatic-bloom/px.jpg">
<img class="skybox dramatic-bloom" width="4096px" height="4096px" id="dramatic-bloom-nx" src="assets/skyboxes/dramatic-bloom/nx.jpg">
<img class="skybox dramatic-bloom" width="4096px" height="4096px" id="dramatic-bloom-py" src="assets/skyboxes/dramatic-bloom/py.jpg">
<img class="skybox dramatic-bloom" width="4096px" height="4096px" id="dramatic-bloom-ny" src="assets/skyboxes/dramatic-bloom/ny.jpg">
<img class="skybox dramatic-bloom" width="4096px" height="4096px" id="dramatic-bloom-pz" src="assets/skyboxes/dramatic-bloom/pz.jpg">
<img class="skybox dramatic-bloom" width="4096px" height="4096px" id="dramatic-bloom-nz" src="assets/skyboxes/dramatic-bloom/nz.jpg">
