:host {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px;

  .actions {
    position: absolute;

    z-index: 6;

    width: 20%;

    height: 58px;

    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    &.left {
      padding-left: 80px;
      width: 24%;
      left: 0px;
    }

    &.right {
      padding-right: 200px;
      padding-left: 20px;
      width: 24%;
      right: 0px;
    }

    &.center {
      width: 200px;
      left: calc(50% - 100px);
    }
  }

  .deselect-system-action {
    opacity: 0;
    transition: 0.25s opacity;

    &.fade-in {
      transition: 1s opacity;
      opacity: 1;
    }
  }
}
