<!-- Social media icons -->
<div class="social">
  <sl-tooltip content="Follow us on Twitter" placement="top">
    <a
      href="https://twitter.com/SingularityMeta"
      target="_blank">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
  </sl-tooltip>
  <sl-tooltip content="Join our Discord Server" placement="top">
    <a
      href="https://discord.gg/S5agh3UfpZ"
      target="_blank">
      <i class="fab fa-discord fa-lg"></i>
    </a>
  </sl-tooltip>
  <sl-tooltip content="Read the Whitepaper" placement="top">
    <a
      href="https://whitepaper.velorum.games"
      target="_blank">
      <i class="fa-solid fa-book-open fa-lg"></i>
    </a>
  </sl-tooltip>
  <sl-tooltip content="Read our Blog" placement="top-start">
    <a
      href="https://quasar.blog"
      target="_blank">
      <i class="fa-solid fa-rss fa-lg"></i>
    </a>
  </sl-tooltip>
</div>
