:host {
  position: absolute;
  top: 8px;
  left: calc(50% - 100px);

  z-index: 6;

  width: 200px;

  .grouper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: 0.5s opacity;

    &.fade-in {
      opacity: 1;
      transition: 1s opacity;
    }
  }

  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;

    span {
      letter-spacing: 2px;
      font-weight: 700;
      color: #bebebe;

      &.value {
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 10px;
        text-align: left;
        text-transform: uppercase;
        color: #fff;
      }
    }

    &.first {
      &.value {
        color: #999;
        font-weight: 300;
      }
    }
  }
}
